# Database Configuration
DB_HOST=localhost
DB_USER=postgres
DB_PASS=newpassword
DB_NAME=postgres
DB_PORT=5432

# Application Configuration
NODE_ENV=dev
MAX_CPU=2               
FUNCTION_NAME=connection-studio-backend
# Tazama Authentication
TAZAMA_AUTH_URL=http://localhost:3020/v1/auth/login
AUTH_PUBLIC_KEY_PATH=public-key.pem
CERT_PATH_PUBLIC=public-key.pem
# Database Configuration (used by Knex and app)
CONFIGURATION_DATABASE_URL=postgresql://postgres:newpassword@localhost:5432/postgres
CONFIGURATION_DATABASE=postgres
CONFIGURATION_DATABASE_USER=postgres
CONFIGURATION_DATABASE_PASSWORD=newpassword

ENCRYPTION_KEY=8fj29dkd82hs91kd93kd82hs91kd83ks

SFTP_HOST_TEST=10.10.80.37
SFTP_PORT_TEST=2222
SFTP_USERNAME_TEST=molly
SFTP_PASSWORD_TEST=password
