# Database Configuration
DB_HOST=localhost
DB_USER=postgres
DB_PASS=newpassword
DB_NAME=postgres
DB_PORT=5432

# Application Configuration
NODE_ENV=dev
MAX_CPU=2               
FUNCTION_NAME=connection-studio-backend

# Session Management
SESSION_TIMEOUT_MINUTES=30

# Tazama Authentication
TAZAMA_AUTH_URL=http://localhost:3020/v1/auth/login
AUTH_PUBLIC_KEY_PATH=public-key.pem
CERT_PATH_PUBLIC=public-key.pem

# Database Configuration (used by Knex and app)
CONFIGURATION_DATABASE_URL=postgresql://postgres:newpassword@localhost:5432/postgres
CONFIGURATION_DATABASE=postgres
CONFIGURATION_DATABASE_USER=postgres
CONFIGURATION_DATABASE_PASSWORD=newpassword

ENCRYPTION_KEY=8fj29dkd82hs91kd93kd82hs91kd83ks

SERVER_URL=10.10.80.37:4222
STARTUP_TYPE=nats
PRODUCER_STREAM=config.notification
CONSUMER_STREAM=config.notification
STREAM_SUBJECT=config.notification

SFTP_HOST_CONSUMER=10.10.80.37
SFTP_PORT_CONSUMER=2222
SFTP_USERNAME_CONSUMER=molly
SFTP_PASSWORD_CONSUMER=password


SFTP_HOST_PRODUCER=10.10.80.37
SFTP_PORT_PRODUCER=2222
SFTP_USERNAME_PRODUCER=molly
SFTP_PASSWORD_PRODUCER=password

